<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>방명록</title>
  </head>
  <body>
    <fieldset>
      <legend>방명록 등록</legend>
      <input type="text" value="" placeholder="사용자 이름" id="name" /> <br />
      <input type="text" value="" placeholder="방명록" id="comment" /> <br />
      <button onclick="register()" id="btnRegister" style="visibility: visible">
        등록
      </button>
      <button
        onclick="modifySecond()"
        id="btnModify"
        style="visibility: hidden"
      >
        수정
      </button>
      <br />
    </fieldset>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
        <tr>
          <td id="id<%= data[i].id %>" onclick="get(data[i].id)">
            <%= data[i].id %>
          </td>
          <td id="name<%= data[i].id %>"><%= data[i].name %></td>
          <td id="comment<%= data[i].id %>"><%= data[i].comment %></td>
          <td>
            <button
              type="button"
              value="<%= data[i].id %>"
              onclick="modifyFirst(value)"
            >
              수정
            </button>
          </td>
          <td>
            <button
              type="button"
              value="<%= data[i].id %>"
              onclick="remove(value)"
            >
              삭제
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <script>
    // visitor 등록 함수
    function register() {
      console.log('register()')

      const resultBox = document.querySelector('.result')
      const data = {
        name: document.querySelector('#name').value,
        comment: document.querySelector('#comment').value,
      }
      console.log(data)

      axios({
        method: 'POST',
        url: '/visitor/register',
        data,
      }).then((res) => {
        console.log('res: ', res)
        location.reload()
      })
    }

    // visitor 조회 함수
    function get(id) {
      console.log('get()')

      const data = {
        id: id,
      }
      console.log(data)

      axios({
        method: 'GET',
        url: `/visitor/get?id=${id}`,
        data,
      }).then((res) => {
        console.log('res: ', res)
        location.reload()
      })
    }

    // visitor 수정 함수, first와 second 두 단계로 동작

    let modifyId = -1 // 수정할 id를 담는 변수

    // 리스트에서 수정 버튼을 눌렀을 때
    function modifyFirst(id) {
      console.log('modifyFirst()')
      console.log(id)

      modifyId = id
      document.querySelector('#name').value = document.getElementById(
        `name${id}`
      ).innerText
      document.querySelector('#comment').value = document.getElementById(
        `comment${id}`
      ).innerText
      document
        .querySelector('#btnModify')
        .setAttribute('style', 'visibility: visible')
      document
        .querySelector('#btnRegister')
        .setAttribute('style', 'display: none')
    }

    // 등록창에서 수정 버튼을 눌렀을 때
    function modifySecond(id) {
      console.log('modifySecond()')
      console.log(modifyId)

      const resultBox = document.querySelector('.result')
      const data = {
        id: modifyId,
        name: document.querySelector('#name').value,
        comment: document.querySelector('#comment').value,
      }
      console.log(data)

      document
        .querySelector('#btnModify')
        .setAttribute('style', 'display: none')
      document
        .querySelector('#btnRegister')
        .setAttribute('style', 'visibility: visible')

      axios({
        method: 'PATCH',
        url: '/visitor/modify',
        data,
      }).then((res) => {
        console.log('res: ', res)
        location.reload()
      })
    }

    // visitor 삭제 함수
    function remove(id) {
      console.log('remove()')

      const data = {
        id: id,
      }
      console.log(data)

      axios({
        method: 'DELETE',
        url: '/visitor/remove',
        data,
      }).then((res) => {
        console.log('res: ', res)
        location.reload()
      })
    }
  </script>
</html>
